/* اسيراد فونتات العمل */
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200..1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800;900&display=swap');
/* تصفير القيم الافتراضية */
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box ;
}
/* تحديد المتغيرات  */
:root {
    /* لون الارضية  */
--main-color: rgb(139, 139, 163);
--main-border-color:3px solid  blue;

}
body {
    font-family: cairo;
    direction: rtl ;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
.container {
/* تعريف بادينغ للكونتينير يسار ويمين  */
   padding-left: 15px;
   padding-right: 15px;
   /* وضع العنصر في نصف  الشاشة  عن طريق margin:auto */
margin-left: auto;
margin-right: auto;
/* background-color: var(--main-color) */

}

/* خاصة بشاشات الموبايل extra smal size xss */
.product {
    background-color: red;
    margin: 5px;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: white; 
 }
/*@media (min-width: 576px) and (max-width: 768px) {
   .product {
    background-color:  green ;
    } 
} */



/* // Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) { 
    .container {
        /* background-color: green;
        width: calc(50% - 30px); */
        width:100%;
    }
    
  }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width:991px) { 
    .container {
        /* background-color: blue;
         width: calc(33.3% - 30px); */
         width: 750px;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width:1199px){ 
     .container {
        /* background-color: rgb(199, 171, 15);
         width: calc(25% - 30px); */
         width: 970px;
    }
    
 }
 
/*// X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .container {
        /* background-color: rgb(82, 92, 182);
         width: calc(20% - 30px); */
         width: 1170px; 
    }
    
 }
/* 